body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-icon {
  font-size: 20px;
  cursor: pointer;
}

.logo {
  width: 35px;
  height: 35px;
  background-color: #ff4433;
  border-radius: 2px;
}

.brand {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.red-dot {
  color: #ff4433;
  font-size: 28px;
  vertical-align: middle;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  text-decoration: none;
  font-weight: 500;
  color: #222;
  font-size: 16px;
}

.navbar-menu li a i {
  font-size: 10px;
  margin-left: 5px;
}

.navbar-right {
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: #222;
}

.navbar-right i {
  cursor: pointer;
}
